* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #63636380;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b380;
}